$colorPrimary: #0095FF;
$colorPrimaryDark: #0065AD;
$colorSecondary: #004892;
$colorSecondaryDark: #002F5F;
$colorBlack: #323232;
$colorWhite: #FFFFFF;
$colorGray: #E1E1E1;
$colorGrayLight: #FAFAFA;
$colorGrayDark: #AFAFAF;

$desktop-view: 1200px;
$tablet-view: 768px;

$container-width: 1080px;