@import '../../styles/partials/partials.scss';

.video-details {
  @include container;

  &__header {
    border-bottom: 1px solid $colorGray;
    margin-bottom: 2.4rem;
  }

  &__author {
    margin-right: 1.6rem;
    font-weight: 900;
    font-size: 1.6rem;
  }

  &__date {
    color: $colorGrayDark;
    font-size: 1.6rem;
  }

  &__stats {
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
  }

  &__stat {
    display: inline-flex;
    margin-right: 2.4rem;
    font-size: 1.6rem;

    &-text {
      font-size: 1.6rem;
    }

    &-icon {
      margin-right: .8rem;
    }
  }

  &__body {
    margin-bottom: 4rem;
  }
}