@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.6rem;
}

@mixin desktop-view {
  @media (min-width: $desktop-view) {
    @content;
  }
}

@mixin tablet-view {
  @media (min-width: $tablet-view) {
    @content;
  }
}
