@import 'mixins';

h1, .h1 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 900;
  margin-top: 0;

  @media (min-width: $tablet-view) {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

h2, .h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 900;
  margin-top: 0;

  @media (min-width: $tablet-view) {
    font-size: 3.6rem;
    line-height: 3.2rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 500;
  margin-top: 0;

  @media (min-width: $tablet-view) {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3.2rem;
  }
}

h4, .h4 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-top: 0;
  font-weight: 500;

  @media (min-width: $tablet-view) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

p, .p {
  font-size: 1.6rem;
  line-height: 1.57;
  margin-top: 0;
  font-weight: 300;

  @media (min-width: $tablet-view) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

button {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: $colorPrimary;
  margin-right: 1.6rem;
  padding: 1.6rem;
  border: none;
  border-radius: 5px;
  color: $colorWhite;
  font-weight: 500;
  font-size: 1.4rem;
}
