@import '../../styles/partials/partials.scss';

.comments {
  &__form {
    display: flex;
    border-bottom: 1px solid $colorGray;
    padding-bottom: 2.4rem;

    @include tablet-view {
      flex-direction: row;
      align-items: center;
    }
  }

  &__image {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin: 2rem 1rem 0 0;
    flex-shrink: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: .8rem;

    @include tablet-view {
      flex-direction: row;
      align-items: center;
    }

  }

  &__form-group {
    margin-top: .3rem;
    margin-bottom: 2rem;
    text-align: left;

    @include tablet-view {
      flex-grow: 1;
      margin-right: 1.6rem;
      margin-bottom: 0;
    }
  }

  &__label {
    display: inline-block;
    color: $colorGrayDark;
    font-weight: 700;
    margin-bottom: .4rem;
  }

  &__input {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.5rem;
    border: 1px solid $colorGray;
    border-radius: .4rem;
    outline: none;
    background-color: $colorGrayLight;
    resize: none;

    &:focus {
      border: 2px solid $colorPrimary;
    }

    &::placeholder {
      color: $colorBlack;
      font-size: 1.2rem;
      font-weight: 100;
    }

    @include tablet-view {
      height: 5rem;
    }
  }

  &__button {
    width: 100%;

    @include tablet-view {
      margin: 1.5rem 4rem 0 auto;;
      width: 0;
    }
    @include desktop-view {
      margin-right: 3.2rem;
    }
  }
}