@import '../../styles/partials/partials.scss';

.comments-list {
  @include container;
  margin-bottom: 4rem;

  &__count {
    margin-bottom: 2.4rem;
    font-weight: 900;
    font-size: 1.6rem;
  }
}